{% extends "main.html" %} {% block title %} Homepage {% endblock %}

{% block content %}
    <h1>Insert awesome name</h1>
    <p>Insert an even more awesome slogan</p>
        <button class="btn btn-primary bg-dark">
        <a class="nav-item nav-link" id="addItem" href="/addItem">List new Item for Auction</a>
    </button>
    <button class="btn btn-primary bg-dark">
        <a class="nav-item nav-link" id="addCategory" href="/addCategory">Add new category (ADMIN)</a>
    </button>
    <h1 align="center" >Categories</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for item in items %}
        <li class="list-group-item">
            {{ item.data }}
            <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
      {% endfor %}
    </ul>
{% endblock %}