{% extends "main.html" %} {% block title %} Homepage {% endblock %}

{% block content %}
    <h1>Insert awesome name</h1>
    <p>Insert an even more awesome slogan</p>
        <button class="btn btn-primary bg-dark">
        <a class="nav-item nav-link" id="addItem" href="/addItem">List new Item for Auction</a>
    </button>
    <button class="btn btn-primary bg-dark">
        <a class="nav-item nav-link" id="addCategory" href="/addCategory">Add new category (ADMIN)</a>
    </button>
      <div class="container">
  <h1>Categories</h1>
    {% for category in categories %}
    <ul id="category.name">
      <li>
        <span class="field-name">Category:</span>
        <span class="field-value">{{ category.name }}</span>
      </li>
      <li>
        <span class="field-name">Description:</span>
        <span class="field-value">{{ category.description }}</span>
      </li>
    </ul>
    {% endfor %}
  </div>
{% endblock %}